<!doctype html>
<head>
	<title>Video Links from excel file</title>
<!--	<script src="/static/base.js"></script>    -->
	<link href="/static/base.css" rel="stylesheet" type="text/css">
	<link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>
	<h2 title="This is the base for all the pages">Diane's Linux and Python reference links</h2>
	<nav class=navigation>
        <a href="/">Home   </a>
        <a href="/about">About   </a>
    </nav>

    {% block content %}{% endblock %}
</body>
