{% extends "base.html" %}
{% block content %}
    <div>
        <h3>Reference Links</h3>
        <p>Use the search feature to find a reference</p>
        <div class="linktable">
            {{ content|safe }}
        </div>
    </div>
{% endblock content %}
